node_modules
dist
.env

leave-management2/
leave-management2/*
# compiled output
leave-management/dist
leave-management/node_modules
leave-management/build

# Logs
leave-management/logs
leave-management/*.log
leave-management/npm-debug.log*
leave-management/pnpm-debug.log*
leave-management/yarn-debug.log*
leave-management/yarn-error.log*
leave-management/lerna-debug.log*

# OS
leave-management/.DS_Store

# Tests
leave-management/coverage
leave-management/.nyc_output

# IDEs and editors
leave-management/.idea
leave-management/.project
leave-management/.classpath
leave-management/.c9/
leave-management/*.launch
leave-management/.settings/
leave-management/*.sublime-workspace

# IDE - VSCode
leave-management/.vscode/*
leave-management/!.vscode/settings.json
leave-management/!.vscode/tasks.json
leave-management/!.vscode/launch.json
leave-management/!.vscode/extensions.json

# dotenv environment variable files
leave-management/.env
leave-management/.env.development.local
leave-management/.env.test.local
leave-management/.env.production.local
leave-management/.env.local

# temp directory
leave-management/.temp
leave-management/.tmp

# Runtime data
leave-management/pids
leave-management/*.pid
leave-management/*.seed
leave-management/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
leave-management/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json